.cut_history {
  background-color: var(--white);
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--gray-300);
}

hr {
  border: 1px solid var(--gray-100);
  border-radius: 999px;
}

.agenda {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.history_title {
  justify-content: space-between;

  p {
    font-size: var(--subtitle-sm-size);
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
  }

  span {
    font-size: var(--text-xs-size);
    line-height: 140%;
  }
}

.history {
  justify-content: space-between;
}

.history_label {
  p {
    font-size: var(--subtitle-sm-size);
    font-weight: 700;
    line-height: 140%;
  }

  span {
    font-size: var(--text-xs-size);
    line-height: 140%;
  }
}

.history_check {
  background-color: #45b44212;
  border-radius: 999px;
  width: 32px;
  height: 32px;
}

@media (width >= 64em) {
  .cut_history {
    max-height: 20rem;
    margin: 0;
  }

  .agenda {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
  }
}
