.main_section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "profile panel"
    "history panel"
    "history haircuts";
  gap: 1.5rem;
}

.profile {
  grid-area: profile;
}

.panel {
  grid-area: panel;
}

.haircuts_remaining {
  grid-area: haircuts;
}

.cut_history {
  grid-area: history;
}
