.panel {
  display: grid;
  background-color: var(--white);
  border-radius: 1rem;
  border: 1px solid var(--gray-300);
}

.panel_header {
  h2 {
    font-size: var(--subtitle-sm-size);
    font-weight: var(--fw-bold);
    color: var(--gray-500);
    text-transform: uppercase;
  }

  p {
    font-size: var(--text-xs-size);
    font-weight: var(--fw-regular);
    color: var(--gray-500);
    line-height: var(--lh-default);
  }
}

.title {
  gap: 0.25rem;
}

.id_badge {
  background-color: var(--gray-300);
  border-radius: 999px;
  padding: 0.25rem;
  width: 100%;
  height: fit-content;

  p {
    color: var(--gray-500);
    font-size: var(--subtitle-sm-size);
    font-weight: var(--fw-bold);
  }
}

.pins_check {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.pin_check {
  background-color: var(--gray-200);
  /* border: 2px solid #ccc; */
  padding: 5px;
  border-radius: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .gift {
    width: 36px;
  }

  img {
    max-width: 100%;
    /* width: 56px; */
    height: auto;
    display: block;
    border-radius: 10px;
  }
}

@media (width >= 48em) {
  .panel_header {
    justify-content: space-between;
  }

  .id_badge {
    background-color: var(--gray-300);
    border-radius: 999px;
    padding: 0.25rem;
    width: 30%;
    height: fit-content;

    p {
      color: var(--gray-500);
      font-size: var(--subtitle-sm-size);
      font-weight: var(--fw-bold);
    }
  }

  .pins_check {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(56px), 1fr));
    /* grid-template-columns: repeat(auto-fit, 1fr); */
    gap: 10px;
  }

  .pin_check {
    background-color: var(--gray-200);
    padding: 10px;
    border-radius: 20px;
    height: 100%;

    img {
      max-width: 100%;
      height: auto;
      display: block;
      border-radius: 10px;
    }
  }
}

@media (width >= 64em) {
  .panel {
    padding: 2rem;
  }

  .panel_header {
    justify-content: space-between;
  }

  .id_badge {
    background-color: var(--gray-300);
    border-radius: 999px;
    padding: 0.25rem;
    width: 30%;
    height: fit-content;

    p {
      color: var(--gray-500);
      font-size: var(--subtitle-sm-size);
      font-weight: var(--fw-bold);
    }
  }

  .pins_check {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(98px), 1fr));
    /* grid-template-columns: repeat(auto-fit, 1fr); */
    gap: 10px;
  }

  .pin_check {
    background-color: var(--gray-200);
    padding: 10px;
    border-radius: 20px;
    height: 88px;
    width: 88px;
    min-height: 88px;

    img {
      max-width: 100%;
      height: auto;
      display: block;
      border-radius: 10px;
    }
  }
}
