.px-base {
  padding-inline: var(--p-base);
}

.px-sm {
  padding-inline: var(--p-sm);
}

.px-md {
  padding-inline: var(--p-md);
}

.py-sm {
  padding-block: var(--p-sm);
}

.py-md {
  padding-block: var(--p-md);
}

.py-lg {
  padding-block: var(--p-lg);
}

.py-xl {
  padding-block: var(--p-xl);
}

.container {
  display: flex;
  flex-direction: column;
  --max-width: 375px;
  margin-inline: auto;
  width: min(var(--max-width), 100% - var(--p-lg) * 2);
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}

.justify-items-center {
  justify-items: center;
}

.align-items-center {
  align-content: center;
}

.gap-0\.125 {
  gap: 0.125rem;
}

.gap-0\.25 {
  gap: 0.25rem;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.25 {
  gap: 1.25rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

@media (width >= 48em) {
  .container {
    --max-width: 768px;
    margin-inline: auto;
    width: min(var(--max-width), 100% - var(--p-lg) * 2);
  }
}

@media (width >= 64em) {
  .container {
    /* display: block; */
    --max-width: 768px;
    margin-inline: auto;
    width: min(var(--max-width), 100% - var(--p-lg) * 2);
  }
}
